<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="TestNG suite">
    <!-- suite name="Suite Name" -->
    <suite-files>
        <suite-file path="./regression-tests.xml"/>
        <suite-file path="./smoke-tests.xml"/>
    </suite-files>
</suite>